@charset "utf-8";
/***
* 1、重设浏览器默认样式
* 2、设置通用原子类
* @author huangbo
 */

body { height:100%; margin:0px; padding:0px;border:0; font:14px/16px "Microsoft Yahei", Arial, Helvetica, Roboto, sans-serif; color:#333333;background-color:#f4f4f4;}
body,html,div,h1,h2,h3,h4,h5,h6,p,ul,li,ol,dl,dd,dt,table,tr,td,th,input,textarea,select,label,span,i,a,form,option{ padding:0; margin:0px; color:#333333; font-size-adjust:none; font-style:normal; font-variant:normal; text-decoration:none;word-wrap:break-word; font-family: "Microsoft Yahei", Arial, Helvetica, Roboto, sans-serif;}
ul,li,ol,label{ list-style:none;list-style-position:outside;}
img { border:0; }
html{ height:100%;}
a{ color:#333; text-decoration:none; cursor:pointer;}
/*a:hover{ color:#147f4d;}*/
*:focus {outline: none;}
.size_10{ font-size:10px;}
.size_11{ font-size:11px;}
.size_12{ font-size:12px;}
.size_13{ font-size:13px;}
.size_14{ font-size:14px;}
.size_16{ font-size:16px;}
.size_18{ font-size:18px;}
.size_20{ font-size:20px;}
.size_22{ font-size:22px;}
.size_24{ font-size:24px;}
.size_30{ font-size:30px;}
.size_36{ font-size:36px;}
.line_h_18{ line-height:18px;}
.line_h_20{ line-height:20px;}
.line_h_22{ line-height:22px;}
.line_h_24{ line-height:24px;}
.line_h_25{ line-height:25px;}
.line_h_26{ line-height:26px;}
.line_h_27{ line-height:27px;}
.line_h_28{ line-height:28px;}
.line_h_30{ line-height:30px;}
.line_h_35{ line-height:35px;}
.line_h_40{ line-height:40px;}
.line_h_45{ line-height:45px;}
.line_h_50{ line-height:50px;}
.line_h_60{ line-height:60px;}
.overhide{text-overflow:ellipsis;overflow: hidden;white-space: nowrap;}

.f_l{ float:left;}
.f_r{ float:right;}
.clear{ clear:both; border:0; padding:0; margin:0;}
.t_l{ text-align:left;}
.t_c{ text-align:center;}
.t_r{ text-align:right;}
.border_circle{ border-radius:3px;}
.border_circle2{ border-radius:5px;}
.font_arial{ font-family:Arial;}
.font_yahei{ font-family:Microsoft YaHei;}
.font_bold{ font-weight:bold;}
.font_normal{ font-weight:normal;}
.t_indent{ text-indent:2em;}
a.red{ color:#ec3838;}
a.red:hover{ text-decoration:underline;}
a.green{ color:#1ea57c;}
a.green:hover{ text-decoration:underline;}
a.main_btn2{ height:30px; display:inline-block; color:#fff; line-height:30px; font-size:14px; padding:0 50px; border-radius:15px; background:#20aee6;}
a.main_btn2:hover{ border-radius:0;}
.button{ font-size:14px; color:#fff; border:0; background:#00acd7; height:35px; line-height:35px; border-bottom:2px solid #007a98; cursor:pointer;overflow:visible;}
.button:hover{ background:#00bceb;}
.t_c .but_null{background-color:#ff7b00;height:40px;line-height: 40px;width:90px;border-bottom:none;}
.t_c .but_null:hover{background-color:#ed780a;}
.input,.select { font:12px/20px Microsoft YaHei,宋体,Arial,Helvetica,sans-serif;}
.input{ background:#fff; height:30px;line-height:30px; border:1px solid #eeeeee; padding:0 3px;}
.input_2{ background:#fff; height:30px;line-height:30px; border:1px solid #eeeeee; padding:0 5px; box-shadow: 0px 0px 3px rgba(0,0,0,0.1) inset;}
.select{ background:#edf8ff; height:24px;line-height:24px; border:1px solid #eeeeee;}
.radio{ vertical-align:middle;}
.checkbox{ vertical-align:middle;}
textarea,.textarea{ padding:5px;font:12px/20px Microsoft YaHei,宋体,Arial,Helvetica,sans-serif; color:#444;border: 1px solid #E0E0E0; resize:vertical; overflow:auto;background:#fff; box-shadow: 0px 0px 3px rgba(0,0,0,0.1) inset;}
.block{ display:block;}
.inline{ display:inline;}
.inline_block{ display:inline-block;}
.none{ display:none;}
.box_hidden{ overflow:hidden;}
.box_visible{ overflow:visible;}
.underline{ text-decoration:underline;}
.linethrough{ text-decoration:line-through;}
.position_relative{ position:relative;}
.position_absolute{ position:absolute;}
.color_0{ color:#000;}
.color_3{ color:#333;}
.color_35{ color:#353535;}
.color_5{ color:#555;}
.color_51{ color:#515151;}
.color_59{ color:#595959;}
.color_6{ color:#666;}
.color_6d{ color:#6d6d6d;}
.color_7{ color:#777;}
.color_8{ color:#888;}
.color_8f{ color:#8f8f8f;}
.color_9{ color:#999;}
.color_f{ color:#fff;}
.color_c{ color:#ccc;}
.color_d{ color:#ddd;}
.color_orange{ color:#f39c12;}
.color_orange2{ color:#fffc00;}
.color_orange3{ color:#ff6600;}
.color_red{ color:#e93030;}
.color_blur{ color:#165391;}
.color_blur_2{ color:#2ebef7;}
.color_blur_3{ color:#20aee6;}
.color_blur_4{ color:#04548d;}
.color_blur_5{ color:#21ae95;}
.color_blur_6{ color:#1a60a7;}
.color_green{ color:#8fcb39;}
.color_green2{ color:#1ea57c;}
.color_yellow{ color:#ffff00;}
.color_4{color:#444;}
.color_g{color:#3ab08c;}

/*背景色*/
.bg_f{background-color: #fff;}
/*public end*/

a.pink{ color: #f39c12;}
a.pink:hover{ text-decoration: underline;}

/*--margin--*/
.m_0{ margin:0;}
.m_2{ margin:2px}
.m_4{ margin:4px}
.m_5{ margin:5px}
.m_8{ margin:8px}
.m_10{ margin:10px}
.m_15{ margin:15px}
.m_20{ margin:20px}
.m_25{ margin:25px}
.m_30{ margin:30px}
.m_35{ margin:35px}
.m_40{ margin:40px}
.m_45{ margin:45px}
.m_50{ margin:50px}
.m_55{ margin:55px}
/*--margin_l--*/
.m_l_2{ margin-left:2px}
.m_l_4{ margin-left:4px}
.m_l_5{ margin-left:5px}
.m_l_8{ margin-left:8px}
.m_l_10{ margin-left:10px}
.m_l_14{ margin-left:14px}
.m_l_15{ margin-left:15px}
.m_l_20{ margin-left:20px}
.m_l_25{ margin-left:25px}
.m_l_27{ margin-left:27px}
.m_l_30{ margin-left:30px}
.m_l_35{ margin-left:35px}
.m_l_40{ margin-left:40px}
.m_l_45{ margin-left:45px}
.m_l_50{ margin-left:50px}
.m_l_55{ margin-left:55px}
.m_l_60{ margin-left:60px}
.m_l_65{ margin-left:65px}
.m_l_75{ margin-left:75px}
.m_l_90{ margin-left:90px}
.m_l_250{margin-left: 250px;}
.m-l-5{ margin-left:5%;}
.m-l-25{ margin-left:25%;}

/*--margin_r--*/
.m_r_2{ margin-right:2px}
.m_r_4{ margin-right:4px}
.m_r_5{ margin-right:5px}
.m_r_8{ margin-right:8px}
.m_r_9{ margin-right:9px}
.m_r_10{ margin-right:10px}
.m_r_13{ margin-right:13px}
.m_r_15{ margin-right:15px}
.m_r_18{ margin-right:18px}
.m_r_20{ margin-right:20px}
.m_r_25{ margin-right:25px}
.m_r_28{ margin-right:28px}
.m_r_30{ margin-right:30px}
.m_r_35{ margin-right:35px}
.m_r_40{ margin-right:40px}
.m_r_45{ margin-right:45px}
.m_r_50{ margin-right:50px}
.m_r_55{ margin-right:55px}
.m_r_80{ margin-right:80px}
.m_r_85{ margin-right:85px}
.m_r_100{ margin-right:100px}

/*--margin_t--*/
.m_t_2{ margin-top:2px}
.m_t_3{ margin-top:3px}
.m_t_4{ margin-top:4px}
.m_t_5{ margin-top:5px}
.m_t_8{ margin-top:8px}
.m_t_10{ margin-top:10px}
.m_t_13{ margin-top:13px}
.m_t_15{ margin-top:15px}
.m_t_20{ margin-top:20px}
.m_t_25{ margin-top:25px}
.m_t_30{ margin-top:30px}
.m_t_35{ margin-top:35px}
.m_t_40{ margin-top:40px}
.m_t_45{ margin-top:45px}
.m_t_50{ margin-top:50px}
.m_t_55{ margin-top:55px}
.m_t_70{ margin-top:70px}
.m_t_90{ margin-top:90px}
/*--margin_r--*/
.m_b_2{ margin-bottom:2px}
.m_b_4{ margin-bottom:4px}
.m_b_5{ margin-bottom:5px}
.m_b_8{ margin-bottom:8px}
.m_b_10{ margin-bottom:10px}
.m_b_15{ margin-bottom:15px}
.m_b_20{ margin-bottom:20px}
.m_b_25{ margin-bottom:25px}
.m_b_30{ margin-bottom:30px}
.m_b_35{ margin-bottom:35px}
.m_b_40{ margin-bottom:40px}
.m_b_45{ margin-bottom:45px}
.m_b_50{ margin-bottom:50px}
.m_b_55{ margin-bottom:55px}
.m_b_60{ margin-bottom:60px}
/*--margin_t_b--margin_l_r--*/
.m_t_b_2{ margin:2px 0}
.m_t_b_4{ margin:4px 0}
.m_t_b_5{ margin:5px 0}
.m_t_b_8{ margin:8px 0}
.m_t_b_10{ margin:10px 0}
.m_t_b_15{ margin:15px 0}
.m_t_b_20{ margin:20px 0}
.m_t_b_25{ margin:25px 0}
.m_t_b_30{ margin:30px 0}
.m_t_b_35{ margin:35px 0}
.m_l_r_2{ margin:0 2px}
.m_l_r_5{ margin:0 5px}
.m_l_r_10{ margin:0 10px}
.m_l_r_15{ margin:0 15px}
.m_l_r_20{ margin:0 20px}
.m_l_r_25{ margin:0 25px}
.m_l_r_30{ margin:0 30px}
.m_l_r_35{ margin:0 35px}

/*--padding--*/
.p_0{ padding:0;}
.p_2{ padding:2px}
.p_4{ padding:4px}
.p_5{ padding:5px}
.p_8{ padding:8px}
.p_10{ padding:10px}
.p_15{ padding:15px}
.p_20{ padding:20px}
.p_25{ padding:25px}
.p_30{ padding:30px}
.p_35{ padding:35px}
.p_40{ padding:40px}
.p_45{ padding:45px}
.p_50{ padding:50px}
.p_55{ padding:55px}
/*--padding_l--*/
.p_l_2{ padding-left:2px}
.p_l_4{ padding-left:4px}
.p_l_5{ padding-left:5px}
.p_l_8{ padding-left:8px}
.p_l_10{ padding-left:10px}
.p_l_12{ padding-left:12px}
.p_l_15{ padding-left:15px}
.p_l_20{ padding-left:20px}
.p_l_25{ padding-left:25px}
.p_l_30{ padding-left:30px}
.p_l_35{ padding-left:35px}
.p_l_40{ padding-left:40px}
.p_l_45{ padding-left:45px}
.p_l_50{ padding-left:50px}
.p_l_55{ padding-left:55px}
/*--padding_r--*/
.p_r_2{ padding-right:2px}
.p_r_4{ padding-right:4px}
.p_r_5{ padding-right:5px}
.p_r_8{ padding-right:8px}
.p_r_10{ padding-right:10px}
.p_r_12{ padding-right:12px}
.p_r_15{ padding-right:15px}
.p_r_20{ padding-right:20px}
.p_r_25{ padding-right:25px}
.p_r_30{ padding-right:30px}
.p_r_35{ padding-right:35px}
.p_r_40{ padding-right:40px}
.p_r_45{ padding-right:45px}
.p_r_50{ padding-right:50px}
.p_r_55{ padding-right:55px}
.p_r_75{ padding-right:75px}
.p_r_105{ padding-right:105px;}
/*--padding_t--*/
.p_t_2{ padding-top:2px}
.p_t_4{ padding-top:4px}
.p_t_5{ padding-top:5px}
.p_t_8{ padding-top:8px}
.p_t_10{ padding-top:10px}
.p_t_12{ padding-top:12px}
.p_t_15{ padding-top:15px}
.p_t_17{ padding-top:17px}
.p_t_20{ padding-top:20px}
.p_t_25{ padding-top:25px}
.p_t_30{ padding-top:30px}
.p_t_35{ padding-top:35px}
.p_t_40{ padding-top:40px}
.p_t_45{ padding-top:45px}
.p_t_50{ padding-top:50px}
.p_t_55{ padding-top:55px}
.p_t_60{ padding-top:60px}
.p_t_65{ padding-top:65px}
.p_t_70{ padding-top:70px}
.p_t_75{ padding-top:75px}
/*--padding_b--*/
.p_b_2{ padding-bottom:2px}
.p_b_4{ padding-bottom:4px}
.p_b_5{ padding-bottom:5px}
.p_b_8{ padding-bottom:8px}
.p_b_10{ padding-bottom:10px}
.p_b_13{ padding-bottom:13px}
.p_b_15{ padding-bottom:15px}
.p_b_20{ padding-bottom:20px}
.p_b_25{ padding-bottom:25px}
.p_b_30{ padding-bottom:30px}
.p_b_35{ padding-bottom:35px}
.p_b_40{ padding-bottom:40px}
.p_b_45{ padding-bottom:45px}
.p_b_50{ padding-bottom:50px}
.p_b_55{ padding-bottom:55px}
.p_b_60{ padding-bottom:60px}
.p_b_65{ padding-bottom:65px}
.p_b_80{ padding-bottom:80px}
/*--padding_t_b--padding_l_r--*/
.p_t_b_2{ padding:2px 0}
.p_t_b_4{ padding:4px 0}
.p_t_b_5{ padding:5px 0}
.p_t_b_8{ padding:8px 0}
.p_t_b_10{ padding:10px 0}
.p_t_b_15{ padding:15px 0}
.p_t_b_20{ padding:20px 0}
.p_t_b_40{ padding:40px 0}
.p_l_r_2{ padding:0 2px}
.p_l_r_4{ padding:0 4px}
.p_l_r_5{ padding:0 5px}
.p_l_r_8{ padding:0 8px}
.p_l_r_10{ padding:0 10px}
.p_l_r_15{ padding:0 15px}
.p_l_r_20{ padding:0 20px}

/*border*/
.b_r_1{ border-right:1px solid #f1f1f1;}
.b_l_1{ border-left:1px solid #f1f1f1;}

/*--width--*/
.w_0{ width:20px;}
.w_1{ width:40px;}
.w_2{ width:50px;}
.w_3{ width:60px;}
.w_4{ width:70px;}
.w_5{ width:80px;}
.w_6{ width:90px;}
.w_7{ width:100px;}
.w_8{ width:110px;}
.w_9{ width:120px;}
.w_10{ width:130px;}
.w_11{ width:140px;}
.w_12{ width:150px;}
.w_13{ width:160px;}
.w_14{ width:170px;}
.w_15{ width:180px;}
.w_16{ width:190px;}
.w_17{ width:200px;}
.w_18{ width:210px;}
.w_19{ width:220px;}
.w_20{ width:230px;}
.w_21{ width:240px;}
.w_22{ width:250px;}
.w_23{ width:260px;}
.w_24{ width:270px;}
.w_25{ width:280px;}
.w_26{ width:290px;}
.w_400{ width:400px;}
.w_1180{ width:1200px; margin:0 auto;}
.w-10{ width:10%;}
.w-15{ width:15%;}
.w-20{ width:20%;}
.w-30{ width:30%;}
.w-33{ width:33%;}
.w-40{ width:40%;}
.w-50{ width:50%;}
.w-60{ width:60%;}
.w-66{ width:66%;}
.w-70{ width:70%;}
.w-75{ width:75%;}
.w-80{ width:80%;}
.w-90{ width:90%;}
.w-100{ width:100%;}
.w_min_1180{min-width:1200px;_width:expression(document.body.clientWidth < 1200 ? "1200px" : "auto");}