<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>关于我们</title>
    <link rel="stylesheet" href="../bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/Less/nav.css" />
    <link rel="stylesheet" href="../assets/Less/about.css" />
    <!-- <link rel="stylesheet" href="../assets/Less/footer.css" /> -->
  </head>
  <body>
    <nav class="nav-wrapper">
      <div class="branch-wrapper">
        <img src="../assets/images/brand.png" alt />
      </div>
      <div class="wall"></div>
      <div class="list-wrapper">
        <ul>
          <a href="../index.html">
            <li>首页</li>
          </a>
          <a href="https://3d.biowinedu.com/authenticate">
            <li>在线建模</li>
          </a>
          <a href="./views/printing.html">
            <li>在线打印</li>
          </a>
          <a>
            <li>我的订单</li>
          </a>
          <a href="#">
            <li>关于我们</li>
          </a>
          <a>
            <li>登录</li>
          </a>
        </ul>
      </div>
    </nav>

    <main class="container-fuild">
      <section class="bg-wrapper">
        <div class="img-wrapper">
          <img src="../assets/images/background.jpg" alt srcset />
        </div>
      </section>
      <section class="text-wrapper">
        <p class="text">
          年轻而极具创新思维，擅于从实践中获取真知的一群小伙子，为3D打印提供全新技术方案，追求新时代下的智能智造。
        </p>
      </section>
      <section class="container-wrapper">
        <section class="container approach-wrapper">
          <p class="text-center">我们的途径</p>
          <ul class="intro-wrapper">
            <li class="col-md-4">
              <div class="img-wrapper">
                <div class="border">
                  <img src="../assets/images/camra.png" alt />
                </div>
              </div>
              <p class="title">技术</p>
              <p class="desc">
                我们使用我们的Web应用程序与我们的内部技术将您连接到最近的服务提供商。通过硬件和软件合理协作为你提供一整套方便的系统流程服务。
              </p>
            </li>
            <li class="col-md-4">
              <div class="img-wrapper">
                <div class="border">
                  <img src="../assets/images/react.png" alt />
                </div>
              </div>
              <p class="title">效率</p>
              <p class="desc">
                我们提供24小时保证3D自助打印服务，通常可以在同一天开始打印。送货？通过选择适合您的时间和地点来安排打印地点，取货不再等待了。
              </p>
            </li>
            <li class="col-md-4">
              <div class="img-wrapper">
                <div class="border">
                  <img src="../assets/images/computer.png" alt />
                </div>
              </div>
              <p class="title">服务</p>
              <p class="desc">
                为用户24小时提供最新最便捷的3D打印云打印、3D打印模型下载等多个频道内容，同时开设供3D打印行业人士交流的互动平台。
              </p>
            </li>
          </ul>
        </section>
      </section>
      <section class="container-wrapper partner-container">
        <section class="container partner-wrapper">
          <p class="text-center">对于合作伙伴</p>
          <div class="descInfo">
            我们将客户与您联系起来。如果您是3D打印经销商或有相关需求，您可以通过我们的平台注册，联系我们进行协商合作。
          </div>
          <ul class="intro-wrapper">
            <li class="col-md-4">
              <div class="img-wrapper">
                <div class="border">
                  <router-link to="/register">
                    <img src="../assets/images/earth.png" alt />
                  </router-link>
                </div>
              </div>
              <p class="title">注册</p>
            </li>
            <li class="col-md-4">
              <div class="img-wrapper">
                <div class="border">
                  <router-link to="/login">
                    <img src="../assets/images/cup.png" alt />
                  </router-link>
                </div>
              </div>
              <p class="title">登录</p>
            </li>
            <li class="col-md-4">
              <div class="img-wrapper">
                <div class="border">
                  <router-link to="/onlinePrint">
                    <img src="../assets/images/3d.png" alt />
                  </router-link>
                </div>
              </div>
              <p class="title">开始3D打印</p>
            </li>
          </ul>
        </section>
      </section>
      <section class="container-wrapper feature-container">
        <section class="container feature-wrapper">
          <ul class="intro-wrapper">
            <li class="col-md-4">
              <div class="img-wrapper">
                <div class="border border-none">
                  <img src="../assets/images/num.png" alt />
                </div>
              </div>
              <p class="desc">
                <span>交易量</span>
              </p>
              <p class="title">
                <span>
                  6
                  <i>8</i>138
                </span>
              </p>
            </li>
            <li class="col-md-4">
              <div class="img-wrapper">
                <div class="border border-none">
                  <img src="../assets/images/efficiency.png" alt />
                </div>
              </div>
              <p class="desc">
                <span>打印效率</span>
              </p>
              <p class="title">
                <span>
                  91
                  <i>%</i>
                </span>
              </p>
            </li>
            <li class="col-md-4">
              <div class="img-wrapper">
                <div class="border border-none">
                  <img src="../assets/images/car.png" alt />
                </div>
              </div>
              <p class="desc">
                <span>交货/收集</span>
              </p>
              <p class="title">
                <span> <i>24</i> 小时 </span>
              </p>
            </li>
          </ul>
        </section>
      </section>
    </main>
    <div class="clearfix">
      <div class="container-fluid" id="footer">
        <div class="row">
          <div class="col-lg-2 col-lg-offset-5">
            <h3 class="h_word">联系我们</h3>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 text-center"
          >
            <img
              src="../assets/images/wechat.png"
              alt
              class="img-responsive center-block f_img"
            />
            <img
              src="../assets/images/qq.png"
              alt
              class="img-responsive center-block f_img"
            />
            <img
              src="../assets/images/weibo.png"
              alt
              class="img-responsive center-block f_img"
            />
            <img
              src="../assets/images/facebook.png"
              alt
              class="img-responsive center-block f_img"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
            <h3>地址：广东省广州大学城广东工业大学E110</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
            <h3>@2017-2018 Printors.Allright reserved.</h3>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
